<div class="d-flex flex-wrap text-center">
<% @books.each do |book| %>
    <div class="card book-card m-4" style="width: 18rem;">
        <div class="card-image">
        </div>
        <div class="card-body">
            <h5 class="card-title"><%= book.name%></h5>
            <p class="card-text">Author: <%= book.author%></p>
            <p class="card-text">Number Of Copies: <%= book.number_of_copies%></p>
            <div>
                <% book.categories.each do |category|%>
                    <span class="badge bg-dark text-white p-2 m-2"><%= category.name%></span>
                <%end%>
            </div>
            <%= link_to "Show", book_path(book),class:"btn btn-success"%>
            <% if user_signed_in? && current_user.user_type=="Admin" %>
                <%= link_to "Edit", edit_book_path(book), class:"btn btn-success"%>
                <%= link_to "Delete", book_path(book), method: :delete,class:"btn btn-success" %>
            <%end%>
        </div>
    </div>
<% end%>
</div>