<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class:"nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "About", about_path, class:"nav-link"%>
      </li>
      
      <% if user_signed_in? && current_user.user_type == "Admin"%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Books
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "View Books", books_path, class:"dropdown-item"%>
            <%= link_to "Add Book", new_book_path, class:"dropdown-item"%>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "View Categories", categories_path, class:"dropdown-item"%>
            <%= link_to "Create Category", new_category_path, class:"dropdown-item"%>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <%= link_to "Users", users_path, class:"nav-link"%>
        <%= link_to "Issue Requests", book_registries_path, class:"nav-link"%>
      <%elsif user_signed_in?%>
        <%= link_to "Books", books_path, class:"nav-link"%>
        <%= link_to "Categories", categories_path, class:"nav-link"%>
        <%= link_to "Users", users_path, class:"nav-link"%>
        <%= link_to "My Book Requests",book_registries_path, class:"nav-link"%>
      <%end%>
    </ul>
    <% if user_signed_in?%>
      <li class="nav-item dropdown list-unstyled">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          <%= "(Admin) " if current_user.user_type=="Admin" %><%= current_user.name%>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><%= link_to "View Profile",user_path(current_user), class:"dropdown-item"%></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path(current_user), class:"dropdown-item"%></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "Delete Profile", user_path(current_user),data:{method: :destroy}, class:"dropdown-item"%></li>
        </ul>
      </li>
      <%= link_to "Log out", destroy_user_session_path,method: :delete, class:"btn btn-outline-success my-2 my-sm-0"%>
    <%else%>
      <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-outline-success my-2 my-sm-0"%>
      <%= link_to "Log In", new_user_session_path, class:"btn btn-outline-success my-2 my-sm-0"%>
    <%end%>
  </div>
</nav>